# Cartel Detection using Network Analysis

This project attempts to demonstrate the use of graph theory tools in identifying possible cartel conduct among hypothetical players in a dummy procurement dataset. Data was randomly generated.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import itertools
import matplotlib.colors as mcolors
from pyvis.network import Network
from read_data import load_data
df = load_data()

In [2]:
df

,DATE,PROJECT_ID,PROJECT_TYPE,ABC,NUM_BIDS,WINNER_NAME,CONTRACT_PRICE,DURATION
0,1/1/2020,3602,Infrastructure Projects,"1,606,239,455.00",3,Denji,"1,606,232,762.00",33
1,1/1/2020,3624,Goods,"1,961,096,282.00",2,Power,"1,961,089,260.00",11
2,1/1/2020,3642,Infrastructure Projects,"198,074,848.00",2,Makima,"198,078,287.00",13
3,1/1/2020,3804,Goods,"1,265,216,403.00",1,Mikata,"1,265,215,963.00",9
4,1/1/2020,3951,Consulting Services,"596,244,872.00",2,Denji,"596,236,157.00",4
...,...,...,...,...,...,...,...,...
4995,7/31/2023,977,Infrastructure Projects,"1,512,354,597.00",1,Reze,"1,512,346,313.00",15
4996,7/31/2023,2511,Goods,"1,843,868,979.00",4,Power,"1,843,861,268.00",12
4997,7/31/2023,2640,Infrastructure Projects,"492,069,796.00",8,Denji,"492,068,751.00",18
4998,7/31/2023,3274,Goods,"1,104,258,561.00",4,Fami,"1,104,256,448.00",10
4999,7/31/2023,4507,Consulting Services,"446,926,586.00",1,Denji,"446,933,620.00",4

In [3]:
#create subsets for the dataset by project type
df_infra = df[df['PROJECT_TYPE'] == 'Infrastructure Projects']
df_goods = df[df['PROJECT_TYPE'] == 'Goods']
df_const = df[df['PROJECT_TYPE'] == 'Consulting Services']

Let's focus on Infrastructure Projects for now:

In [4]:
df_infra

,DATE,PROJECT_ID,PROJECT_TYPE,ABC,NUM_BIDS,WINNER_NAME,CONTRACT_PRICE,DURATION
0,1/1/2020,3602,Infrastructure Projects,"1,606,239,455.00",3,Denji,"1,606,232,762.00",33
2,1/1/2020,3642,Infrastructure Projects,"198,074,848.00",2,Makima,"198,078,287.00",13
5,1/2/2020,966,Infrastructure Projects,"1,938,249,259.00",1,Denji,"1,938,241,775.00",27
9,1/3/2020,3386,Infrastructure Projects,"1,683,883,574.00",1,Denji,"1,683,874,917.00",24
10,1/4/2020,683,Infrastructure Projects,"1,883,993,509.00",8,Pochita,"1,884,001,597.00",14
...,...,...,...,...,...,...,...,...
4987,7/30/2023,392,Infrastructure Projects,"1,177,296,211.00",3,Himeno,"1,177,288,674.00",18
4990,7/30/2023,1758,Infrastructure Projects,"1,219,243,055.00",9,Denji,"1,219,243,807.00",23
4991,7/30/2023,2247,Infrastructure Projects,"779,326,959.00",9,Mikata,"779,331,374.00",23
4995,7/31/2023,977,Infrastructure Projects,"1,512,354,597.00",1,Reze,"1,512,346,313.00",15
4997,7/31/2023,2640,Infrastructure Projects,"492,069,796.00",8,Denji,"492,068,751.00",18